/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.idea/*
/node_modules
/yarn-error.log
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
coverage
.byebug_history
test/*
spec/examples.txt
vendor/*
config/secrets.yml
public/uploads/*
public/assets/*
.generators
.rakeTasks

.env