<table class="table table-striped">
  <thead>
    <tr>
      <th>Tone Name</th>
      <th>Scores</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
  <%tones['document_tone']['tone_categories'].each do |data| %>
    <% data['tones'].each do |tone_data| %>
      <tr>
        <td><%= tone_data['tone_name']%></td>
        <td><%= tone_data['score']%></td>
        <td><%= data['category_name']%></td>
      </tr>
    <% end %>
  <% end %>

</table>
