/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
ul {
  padding-left: 0px;
  list-style: none;
}

body{
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  //margin-top: 20px;

   .container {
     width: 100%;
     padding: 0;


     .row {
       display: -webkit-box;
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-flex: 1;
       -webkit-flex-grow: 1;
       -moz-flex-grow: 1;
       -ms-flex-positive: 1;
       flex-grow: 1;
       overflow: hidden;

       .col-md-3 {
           padding-right: 0;
           position: relative;
           display: -webkit-box;
           display: -webkit-flex;
           display: -moz-flex;
           display: -ms-flexbox;
           display: flex;
           -ms-flex-direction: column;
           -moz-flex-direction: column;
           -webkit-flex-direction: column;
           flex-direction: column;
           -webkit-flex-basis: 220px;
           -moz-flex-basis: 220px;
           -ms-flex-preferred-size: 220px;
           flex-basis: 225px;
           -webkit-flex-shrink: 0;
           -moz-flex-shrink: 0;
           -ms-flex-negative: 0;
           flex-shrink: 0;
           min-width: 1px;
           max-width: 225px;
           background: #4D394B;
           z-index: 201;
       }
       .col-md-9 {
         padding-left: 0;
         position: relative;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-flex;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-direction: column;
         -moz-flex-direction: column;
         -webkit-flex-direction: column;
         flex-direction: column;
         -webkit-box-flex: 1;
         -webkit-flex-grow: 1;
         -moz-flex-grow: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
         min-width: 1px;
       }
     }
   }
}
.messages-list {
  position: relative;
  margin-left: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 1px;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 2px 20px;
  padding: 10px;
  float: right;
  width: 100%;

  strong {
    font-size: 16px;
  }
  small {
    color: #9e9ea6;
    font-size: 12px;
    display: inline-block;
    padding-left: 5px;
  }
}

.message-received {
  background-color: rgba(241, 240, 240, 0.38);
  border-color: rgba(241, 240, 240, 0.38);
  margin: 2px 15px;
  padding: 10px;
  float: left;
  width: 100%;

  strong {
    font-size: 16px;
  }
  small {
    color: #9e9ea6;
    font-size: 12px;
    display: inline-block;
    padding-left: 5px;
  }
}

.friends-list {
  height: 100vh;
  background-color: #4D394B;
  color: cornsilk;
  border-color: transparent;
  border-radius: 0;

  ul.user-menu {
    border-top: 1px solid #2f1b2d;
    font-size: 18px;
  }

  > .panel-heading {
    color: #fff;
    background-color: #2f1b2d;
    border-color: #2f1b2d;
    margin: -1px;

    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      white-space: nowrap;
      text-transform: lowercase;
      letter-spacing: 0.5px;
    }
  }


  .panel-body {
    padding: 0;
      ul {
        margin-top: 10px;
        li {
          min-height: 30px;
          padding: 4px 15px;
          a {
            color: #AB9BA9;
            font-weight: 300;
          }
        }
      }
  }
}
#conversations-list ul.conversation-thread {
  //max-height: 86vh;
  overflow-y: scroll;
  overflow-x: hidden;
  //margin-bottom:60px;

}
textarea#message_content{
  position: sticky;
  bottom: 0px;
  resize: none;
  height: 36px;
  border: 2px solid #bbbdbf;
  -ms-order: 1;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-image:none;

}
.form-control:focus {
  box-shadow: none;
}
.user-header {

  span {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block;
    padding-left: 6px;
  }
}

.login-view {
  padding-top: 90px !important;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}
#result {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}
.header-form {
  width: 1024px;
  margin: 0 auto;
  margin-top: 20px;
  background: #ebebeb;
  border-radius: 5px 5px 0 0;


  form {
    padding: 10px 30px;
    float: left;

    .form-group {
      margin: 0 12px 0 6px;

      #user {
        height: 34px;
        width: 150px;

      }
    }
  }
  a{
    display: inline-block;
    float: right;
    background: #5f5c5c;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    min-height: 34px;
    margin: 10px 20px;
  }
}

.messages-list {
  height: 84vh;
  overflow-y: scroll;
}